@{
    var name = "Name : Parikshit";
    var id = "ID : 121984";
    var company = "Company : KPMG Global Services";
}
<img src="~/images/R.png" width="100" height="150" align ="middle"/>
<table style="border-width:2px;
              border-style: solid;">
    <tr>
        <td>@name</td>
    </tr>
    <tr>
        <td>@id</td>
    </tr>
    <tr>
        <td>@company</td>
    </tr>
